/*
* Based on - Skeleton by Dave Gamache
* Licsense - MIT licsense
* Licsense URL - http://www.opensource.org/licenses/mit-license.php
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #0092ff; }
h1 { font-size: 2.5em; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 1.5em; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 1.2em; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.2em; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1em; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1em; line-height: 1.6;  letter-spacing: 0; }

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
  color: #0092ff; }
a:hover {
  color: #0275cb; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"], a.button-primary {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 250px; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary, a.button-primary {
  color: #FFF;
  background-color: #0092ff;
  border-color: #0092ff; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover, a.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus, a.button-primary:focus {
  color: #FFF;
  background-color: #0275cb;
  border-color: #0275cb; }

input.button-primary.destructive, a.button-primary.destructive  {
    background: #ff0000;
    border-color: #ff0000;
}
input.button-primary.destructive:hover, a.button-primary.destructive:hover, 
input.button-primary.destructive:focus, a.button-primary.destructive:focus {
    background: #e01b02;
    border-color: #e01b02;
}
input[type="submit"].button-primary:disabled {
    background: #fff;
    color: #888;
    border-color: #eee;
}
input[type="submit"].button-primary:disabled:hover {
    background: #eee;
    color: #888;
    border-color: #eee;
    cursor: not-allowed;
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  max-width: 250px;
  min-width: 250px; }
textarea {
  max-width: 960px;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #0275cb;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

form#login {
    max-width: 250px;
    margin: 0 auto;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee; }
th {
  background: #0092ff;
  min-width: 70px;
  color: #fff;
}
tr:hover {
    background: #f9f9f9;
}
table {
  border: 1px solid #e5e5e5;
  width: 100%;
}
tbody tr:last-child td {
  border-bottom: 1px solid #e5e5e5;
}
table:hover {
    box-shadow: 0px 0px 25px -10px #bbb;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}
table a {
    padding: 2px 10px;
    border: 1px solid #f730cc52;
    border-radius: 4px;
    background: #fff;
    font-size: .75em;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

table a:hover {
    border: 1px solid #f730cc;
    color: #333;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }
blockquote {font-size: 1.5em; margin: 0; font-family: "Georgia", serif;}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

img {
    max-width: 100%;
    max-height: 100%;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* custom */
#content section {
    margin-bottom: 4em;
}

#content section h2 {
    border-bottom: none;
    margin-bottom: 0;
    text-transform: none;
}

li#logo {
    height: 25px;
    position: absolute;
    left: 0px;
}
li#logo img {
    height: 25px;
}
li#account-link{
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    padding: 0;
    position: absolute;
    right: 0;
    background: #0092ff;
}
li#account-link a {
    display: block;
    line-height: 40px;
    padding: 0em 1em;
    color: #fff;
}
.navbar {
    width: 100%;
    max-width: 100%;
    height: 40px;
    background: #fff;
    display: table-row;
    box-shadow: 0px 0px 30px -10px #bbb;
    position: fixed;
    z-index: 1;
    top:0px;
}
.navbar a {
    text-decoration: none;
    color: #999;
}
.navbar ul {
    text-align: center;
    margin: 0;
}
.navbar li {
    display: inline-block;
    list-style: none;
    padding: .5em;
    margin: 0;
}
ul#navigation li {
  padding: 0;
}
ul#navigation li a {
  line-height: 36px;
  display: inline-block;
  padding: 0 1em;
}
ul#navigation li.active a {
    color: #0092ff;
}
ul#navigation li.active, ul#navigation li.active:hover {
  border-bottom: 5px solid #0092ff;
  padding-bottom: 0;
}
ul#navigation li:hover {
  border-bottom: 2px solid #0092ff;
  padding-bottom: 3px;
}
.header {
    background: linear-gradient(.25turn, #0092ff, #f730cc);
    max-width: 100%;
    display: block;
    position: relative;
    top: 40px;
    padding: 2.5em;
}
.header-content {
    display: block;
    width: 100%;
}
.header h1 {
    color: #fff;
    margin: 0 auto;
    padding: 0.25em 0;
    font-weight: bold;
}
span.title-header {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    display: block;
}
span.subtitle-header {
    color: #e8f3f6;
    font-size: 1em;
    display: block;
}
span.subtitle-header a {
    color: #fff;
    text-decoration: underline;
}
span.error-code {
    font-size: 8em;
}
input.button-primary.block {
    display: block;
}
input#event-date {
    min-width: 250px;
}
label.inline {
  display: inline-block;
}
p.flash-messages {
    color: #000000;
    background: #fff3ac;
    padding: .5em 1em;
    margin: 1.2em 0;
}
#content {
    padding: 2.5em;
    background: #ffffff;
    min-height: calc(100vh - 135px);
    margin: 2.7em auto;
    width: auto;
}
.centered {
    max-width: 960px;
    margin: auto;
}
.center {
  text-align: center;
}
ol, ul {
    margin-left: 1em;
}
li {
    list-style: square;
}
#content h2 {
    font-weight: bold;
    color: #0092ff;
    text-transform: uppercase;
    font-size: 1.5em;
    border-bottom: 1px solid #0092ff;
    line-height: 1.5em;
}
.info-box {
    padding: 1em;
    background: #f5f5f5;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}
.info-box p {
  margin-bottom: 0;
}
.info-line {
    color: #bbb;
    font-size: .85em;
}
/* Font awesome */
i {
  margin-right: 8px;
}
/* Footer */
footer {
    text-align: center;
    padding: 1em;
    background: #f5f5f5;
    color: #bbb;
}
p.mangopay-info {
    margin-top: .5em;
    margin-bottom: 0;
    color: #777;
    font-family: monospace;
    font-size: 1.2em;
    display: inline-block;
    padding: 0em 1em;
    background: #e5e5e5;
    border-radius: 4px;
    border: 1px solid #bbb;
}
p.footer-links {
    margin-top: .5em;
}

footer a {
    color: #777;
}
/* Error Messages */
ul.flashes li {
    list-style: none;
    padding: 2em;
    font-weight: bold;
}

ul.flashes {
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 1.5em;
}

li.success {
    background: #99ffa1;
    border-left: 5px solid #00ee13;
}

li.warning {
  background: #ffdd62;
  border-left: 5px solid #ffa500;
}

li.neutral {
    background: #f8f8f8;
     border-left: 5px solid #0092ff;
}

li.error {
    background: #ffa8a8;
    border-left: 5px solid #b50404;
}

li.error_text {
    text-align: center;
    font-family: monospace;
    font-weight: normal !important;
    font-size: 2em;
    color: #555;
    background: #f5f5f5;
}

.errors, .errors li {
    list-style: none;
    margin-left: 0;
    font-weight: bold;
    color: #cc3c3c;
}

/* Dashboard */
.admin-block, .dashboard-block {
    background: #0092ff0d;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    display: block;
}

#admin-block {
    padding: 50px 40px;
    background: #f2f9ff;
}

.dashboard-block {
  padding: 100px 40px;
}

#message-balance p {
    margin-bottom: 0;
}

.admin-block a {
    display: block;
    padding: 100px 40px;
}

.counter {
    padding: 5px 8px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    background: #bbb;
}
.neutral {
    background: #0092ff;
}
.safe {
    background: #00ee13;
}
.warning {
    background: #ffa500;
}
.danger {
    background: #b50404;
}
ul#recent-updates li {
    list-style: none;
}
ul#recent-updates {
    margin-left: 0;
}
ul#recent-updates li {
    list-style: none;
    white-space: nowrap;
    font-weight: bold;
}
ul#recent-updates li a{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* Timestamp */
span.timestamp {
    font-size: 12px;
    position: relative;
    white-space: nowrap;
}

span.timestamp.today::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #0092ff;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: -18px;;
    border: 3px solid #65c7e3;
    animation: blip 2s infinite linear;
}

span.location {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

@keyframes blip{
  0%{
    transform:scale(.1);
    opacity:1;
  }
  70%{
    transform:scale(2);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}