{% extends "base.html" %}

{% block title %}404 - Not Found{% endblock %}

{% block header %}
    <span class="title-header error-code centered center">404</span><span class="subtitle-header centered center">Oopsie daisy! We don't have it!</span>
{% endblock %}

{% block content %}
    <div class="centered">
        <p class="info-line centered center">If you continue to face this issue, please contact us.</p>
    </div>
{% endblock %}
