{% extends "base.html" %}

{% block title %}Internal Server Error{% endblock %}

{% block header %}
    <span class="title-header error-code centered center">500</span>
    <span class="subtitle-header centered center">Oh bother! Internal server error. Sorry, is the word. :/</span>
{% endblock %}

{% block content %}
    <div class="centered">
    	<p class="center">One of our coder monkey is out of its cage. It'll fix it. We hope!</br>
		In the meantime, if you see any specific error, please contact us with that.</br></p>
        <p class="info-line centered center">If you continue to face this issue, please contact us.</p>
    </div>
{% endblock %}
