{% extends "base.html" %}

{% block title %}Registration for {{ course[1] }}{% endblock %}

{% block header %}
    <span class="title-header centered">{{ course[1] }}</span><span class="subtitle-header centered">Registration and payment</span>
{% endblock %}
{% block content %}
<div class="mango-registration centered">
    {% if course != None %}
        {% if 'in progress' in locations.values() %}
            <form action="{{ url_for('registration.register') }}" method="POST">
                <div class="row">
                <label for="parent_name">Name</label>
                <input type="text" name="parent_name" id="parent_name" value="" placeholder="Michael Scott" pattern="[a-zA-Z\s\.]*$" required title="No special characters or numbers."></br>
                <label for="parent_email">Email</label>
                <input type="email" name="parent_email" id="parent_email" value="" placeholder="mgscott@dundermifflin.com" required></br>
                <label for="parent_contact">Contact Number</label> 
                <input type="text" name="parent_contact" id="parent_contact" value="" placeholder="9999900000" maxlength="10" pattern="[0-9]{10}" required title="Ten digit numbers only."></br>
                <label for="kid_name">Kid Name</label>
                <input type="text" name="kid_name" id="kid_name" value="" placeholder="Michael Scott Jr." pattern="[a-zA-Z\s\.]*$" required title="No special characters or numbers."></br>
            	{% if (locations|length > 1) and ((course[5] != 0) and (course[5] != None)) %}
            		<label for="location" id="location">Preferred Location</label>
                	<select name="location" id="location" required>
                	<option style="" disabled="" selected="" value="">Select location</option>
                    {% for location, status in locations.iteritems() %}
                        {% if status == 'in progress'%}
                            <option value="{{ location[0] }}">{{ location[1] }} ({{ location[2]|datetimeformat('%B %d, %Y - %A') }})</option>
                        {% else %}
                            <option style="display:none" value="{{ location[0] }}" disabled>{{ location[1] }} ({{ location[2]|datetimeformat('%B %d, %Y - %A')}})</option>
                        {% endif %}
                    {% endfor %}
                	</select>
                {% else %}
            		<label for="location" id="location">Location</label>
                	<select name="location" id="location" required>
                    {% for location, status in locations.iteritems() %}
                        {% if status == 'in progress'%}
                            <option value="{{ location[0] }}">{{ location[1] }} ({{ location[2]|datetimeformat('%B %d, %Y - %A') }})</option>
                        {% else %}
                            <option style="display:none"value="{{ location[0] }}" disabled>{{ location[1] }} ({{ location[2]|datetimeformat('%B %d, %Y - %A')}})</option>
                        {% endif %}
                    {% endfor %}
                	</select>
                {% endif %}
                <label>Payment Choice</label>
                {% if ((course[5] != None) and (course[5] != 0)) %}
                    <p class="info-box">The early bird fee for this camp is <strong>{{ course[5] }} INR</strong>. You can pay it in full now or book now by paying <strong>{{ course[2] }} INR</strong>. If you choose to join on the spot, the fee will be <strong> {{ course[3] }} INR</strong>. Kindly choose the appropriate payment option.</p>
                    <input type="radio" name="payment_choice" required id="payment_choice_online" value="online"> <label for="payment_choice_online" style="display: inline-block; font-weight:normal;">Book now for <strong>{{ course[2] }} INR</strong> and pay <strong>{{ course[5] - course[2] }} INR</strong> later</label></br>
                    <input type="radio" name="payment_choice" required id="camp_total_online_fees" value="camp_total_online_fees"> <label for="camp_total_online_fees" style="display: inline-block; font-weight:normal;">Book and pay full fee <strong>{{ course[5] }} INR</strong> now</label></br>
                    <input type="radio" name="payment_choice" required id="payment_choice_offline" value="offline"> <label for="payment_choice_offline" style="display: inline-block; font-weight:normal;">Pay <strong>{{ course[3] }} INR</strong> on the spot</label></br>
                
                {% elif ((course[2] == 0) and (course[3] == 0)) %}
                    <p class="info-box" style="max-width: 220px; margin-bottom: .5em;">This is a free community event.</p>
                    <input type="radio" name="payment_choice" checked required id="payment_choice_free" value="free"> <label for="payment_choice_free" style="display: inline-block; font-weight:normal;"><strong>Free</strong></label></br>

                {% else %}
                    {% if course[2] < course[3] %}
                        <p class="info-box">The early bird fee for this course is <strong>{{ course[2] }} INR</strong>. If you choose to join on the spot, the fee will be <strong> {{ course[3] }} INR</strong>. Kindly choose the appropriate payment option.</p>
                    {% endif %}
                    <input type="radio" name="payment_choice" required id="payment_choice_online" value="online"> <label for="payment_choice_online" style="display: inline-block; font-weight:normal;">Pay online <strong>{{ course[2] }} INR</strong> now</label></br>
                    <input type="radio" name="payment_choice" required id="payment_choice_offline" value="offline"> <label for="payment_choice_offline" style="display: inline-block; font-weight:normal;">Pay <strong>{{ course[3] }} INR</strong> on the spot</label></br>
                {% endif %}
                <input type="hidden" name="course_uid" id="course_uid" value="{{ course[0] }}">
                <input type="hidden" name="parent_uid" id="parent_uid" value="{{ parent_uid }}">
                <input id="agreement" name="checkbox" type="checkbox" required>
                <label for="agreement" style="display: inline-block; font-weight:normal;"><small>I agree to the <a href="http://themango.co/terms" target="_blank">terms and conditions</a>.</small></label></br>
                <input type="submit" name="submit" class="button-primary" id="mango-register" value="Register">
            </form>
        {% else %}
            <div class="info-box">
                <p>Registrations are closed now. To get notified about the next session, subscribe to us using the form below. If you would like a demo class, contact us at +91-9952243541 or mail us at support@themango.co.</p>
            </div>
                <p>{% include "newsletter.html" ignore missing %}</p>
        {% endif %}
    {% else %}
    <p><a href="{{ url_for('course_index.courses') }}">Create courses</a></p>
    {% endif %}
</div>
{% endblock %}
