<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='media/favicon.png') }}"/>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <title>
        {% block title %}{% endblock %} – Mango Registrations and Payments
    </title>
    {% endblock %}
</head>
{% set navigation_bar = [
    ('/dashboard', 'dashboard', 'Dashboard'),
    ('/courses', 'courses', 'Courses'),
    ('/registrations', 'registrations', 'Registrations'),
    ('/logout', 'logout', 'Logout')
] -%}
{% set active_page = active_page|default('index') -%}
<body>
<main>
    <header>
        <div class="navbar">
            <div class="navbar-content">
                <ul>
                    <li id = "logo"><a href="{{ url_for('dashboard.dashboard') }}"><img src="{{ url_for('static', filename='media/mango-logo.png') }}" title="Mango Payments"></a></li>
                </ul>
                {% if session['username'] %}
                <ul id="navigation">
                    {% for href, id, caption in navigation_bar %}
                      <li {% if id == active_page %} class="active"{% endif%}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="header">
            <div class="header-content">        
                {% block header %}
                {% endblock %}
            </div>
        </div>
    </header>
    <!-- Content Begins -->
    <div class = container id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
    <!-- Content Ends -->
</main>
<!-- Footer -->
<footer>
    <p class="mangopay-info">Mango Pay 1.2.0</p>
    <p class="footer-links"><a href="https://themango.co/about">About</a>&nbsp;&nbsp;&nbsp;<a href="https://themango.co/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;<a href="https://themango.co/#mango-contact-section">Contact</a>&nbsp;&nbsp;&nbsp;<a href="https://themango.co/disclaimer">Disclaimer</a>&nbsp;&nbsp;&nbsp;<a href="https://themango.co/terms">Terms</a>&nbsp;&nbsp;&nbsp;<a href="https://themango.co/refund-policy">Refund Policy</a></p>
</footer>
<!-- Scripts -->
</body>

</html>