{% extends "base.html" %}

{% block title %}Response{% endblock %}

{% block header %}
    <span class="title-header centered">Response</span><span class="subtitle-header centered">Payment response message</span>
{% endblock %}

{% block content %}
	<div class="centered center" style="margin-bottom: 1.5em;"><a class="button-primary" href="{{ url_for('index.app_create', course_uid=course_uid) }}">New Registration</a></div>
	<div class="info-line centered">
		<p class="info-line centered center">For further qeuries, contact us through email or phone.</br>support@themango.co | +91-9952243541</p>
	</div>
{% endblock %}
