{% extends "base.html" %}

{% block title %}Mango Pay Contacts{% endblock %}

{% block header %}
    <span class="title-header">Contacts Index</span><span class="subtitle-header">Contacts from Zoho Books</span>
{% endblock %}
{% block content %}
    <section id="zoho">
        <h2>Contact</h2>
        <ul>
        {% for contact in contacts['contacts'] %}
            <li>{{ contact['contact_name'] }}</li>
        {% endfor %}
    	</ul>
        <h2>Items</h2>
        <ul>
        {% for item in items['items'] %}
            <li><strong>{{ item['item_id'] }}</strong> - {{ item['name'] }}</li>
        {% endfor %}
    	</ul>
    </section>
{% endblock %}
