{% extends "base.html" %}

{% set active_page = "courses" %}

{% block title %}Course Index{% endblock %}

{% block header %}
    <span class="title-header">Course Index</span><span class="subtitle-header">Click <a href="#new-course">here</a> to add new course</span>
    {% include 'datatable-resources.html' %}
{% endblock %}

{% block content %}

    <!-- Valid Courses -->
    <section>
        <h2>Live Courses</h2>
        <p class="info-line">To validate courses, associate it with an event before linking at themango.co.</p>
        <script type="text/javascript">
        $(document).ready(function() {
            $('#courses').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                ]
            } );
        } );
        </script>
        <table id="courses" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Course Name</th>
            <th>Online Fees</th>
            <th>Offline Fees</th>
            <th>Full Online Fee (Camps only)</th>
            <th>Events</th>
            <th>Edit</th>
            <th>Registrations</th>
            <th>Registration Link</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
        <tr>
            {% if course[8] %}
                <td>{{ course[2] }}</td>
            {% else %}
                <td>{{ course[2] }} | <a href="{{ url_for('event_index.events', course_id=course[0]) }}">View Event</a></td>
            {% endif %}
            <td>{{ course[3] }}</td>
            <td>{{ course[4] }}</td>
            <td>{{ course[6] }}</td>
            <td><a href="{{ url_for('event_index.events', course_id=course[0]) }}">View</a></td>
            <td><a href="{{ url_for('course_index.edit_course', uid=course[1]) }}">Edit</a></td>
            <td><a href="{{ url_for('registration_index.registrations_single', course_uid=course[1], course_name=course[2]) }}">View Registrations</a></td>
            <td><a href="{{ url_for('course_index.generate_registration_link', course_name=course[2], course_uid=course[1]) }}">Generate Registration Link</a></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </section>

    <!-- Oprhaned Courses -->
    <section>
        <h2>Orphaned Courses</h2>
        <p class="info-line">The following courses do not have any locations or dates associated with them. Ignore if they are not used, or add an event.</p>
        <script type="text/javascript">
        $(document).ready(function() {
            $('#orphaned-courses').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                ]
            } );
        } );
        </script>
        <table id="orphaned-courses" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Course Name</th>
            <th>Online Fees</th>
            <th>Offline Fees</th>
            <th>Full Online Fees (Camps only)</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for course in orphaned_courses %}
        <tr>
            {% if course[8] %}
                <td>{{ course[2] }}</td>
            {% else %}
                <td>{{ course[2] }} | <a href="{{ url_for('event_index.events', course_id=course[0]) }}">Add Event</a></td>
            {% endif %}
            <td>{{ course[3] }}</td>
            <td>{{ course[4] }}</td>
            <td>{{ course[6] }}</td>
            <td><a href="{{ url_for('course_index.edit_course_orphan', uid=course[1]) }}">Edit</a></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </section>

    <!-- Add New Course -->
    <section>
        <h2 id="new-course">Add New Course</h2>
        <p class="info-line">You can add multiple locations by clicking control key. The event dates can be added once the course has been created.</p>
        <form action="{{ url_for('course_index.courses') }}" method="POST">
            <input type="hidden" name="course_uid" id="course_uid" value="{{ uid }}" readonly></br>
            <input type="text" name="course_name" id="course_name" value="" placeholder="Course Name" required></br>
            <input type="number" name="online_fees" id="online_fees" value="" placeholder="Course Online Fees" required></br>
            <input type="number" name="offline_fees" id="offline_fees" value="" placeholder="Course Offline Fees" required></br>
            <select multiple name="location" id="location" style="height: auto;">
                {% for location in locations %}
                <option value="{{ location[0] }}">{{ location[1] }}</option>
                {% endfor %}
            </select></br>
            <input type="submit" class="button-primary" name="submit" value="Add Course">
        </form>
    </section>
{% endblock %}
