{% extends "base.html" %}

{% block title %}All Locations{% endblock %}

{% block header %}
    <span class="title-header">Location Index</span><span class="subtitle-header">Mango Education venues</span>
    {% include 'datatable-resources.html' %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#course-locations-all').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
            ]
        } );
    } );
    </script>
    <table id="course-locations-all" class="display" cellspacing="0" width="100%">
    <thead>  
    <tr>
        <th>Course Location</th>
    </tr>
    </thead>
    <tbody>
    {% for id, location in locations %}
    <tr>
        <td>{{ location }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <form action="{{ url_for('location_index.locations') }}" method="POST">
        <label for="course-location">Add New Location</label>
        <input type="text" name="course-location" id="course-location" value="" placeholder="Scranton" required pattern="([^\s][A-z0-9À-ž\s]+)">
        <input type="submit" name="submit" class="button-primary" value="Add Location">
    </form>
{% endblock %}
