{% extends "base.html" %}

{% block title %}Admin: Edit Course{% endblock %}

{% block header %}
    <span class="title-header">Edit Course</span><span class="subtitle-header">Before editing/updating the locations, please consider that the previous registrations would have chosen different locations. To avoid confusions, please inform the changes to the parents as well.</span>
{% endblock %}

{% block content %}
    <form action="{{ url_for('course_index.edit_course_orphan', uid = course[1]) }}" method="POST">
    <table>
        <th>Course Name</th>
        <th>Online Fees</th>
        <th>Offline Fees</th>
        <th>Full Online Fees (Camps only)</th>
        <th>Event</th>
    <tr>
    {% if course %}
        <td><input type="text" name="course_name" id="course_name" value="{{ course[2] }}" placeholder="Course Name"></td>
        <td><input type="number" name="online_fees" id="online_fees" value="{{ course[3] }}" placeholder="Course Online Fees"></td>
        <td><input type="number" name="offline_fees" id="offline_fees" value="{{ course[4] }}" placeholder="Course Offline Fees"></td>
        <td><input type="number" name="camp_total_online_fees" id="camp_total_online_fees" value="{{ course[6] }}" placeholder="0 for other courses"></td>
        <td><a href="{{ url_for('event_index.events', course_id=course[0]) }}">Edit Events</a></td>
    {% endif %}
    </tr>
    </table>
    <input type="submit" class="button-primary" name="submit" value="Save Changes">
    </form>

{% endblock %}
