{% extends "base.html" %}

{% set active_page = "dashboard" %}

{% block title %}Mango Pay Dashboard{% endblock %}

{% block header %}
    <span class="title-header">Dashboard</span><span class="subtitle-header">Indexes and registrations</span>
{% endblock %}
{% block content %}
    <!-- Main Links -->
    <section>
        <h2>Indexes</h2>
        <p class="info-line">Indexes for courses, events, locations, registrations, and payments</p>
        <div class="row">
            <div class="four columns">
                <p class="admin-block center"><a href="{{ url_for('course_index.courses') }}">
                    <span class="counter">{{ counters['course'] }}</span> Courses | <span class="counter">{{ counters['event'] }}</span> Events</a></p>
            </div>
            <div class="four columns">
                <p class="admin-block center"><a href="{{ url_for('registration_index.registrations') }}">
                    <span class="counter">{{ counters['registration'] }}</span> Registrations</a></p>
            </div>
            <div class="four columns">
                <p class="admin-block center"><a href="{{ url_for('location_index.locations') }}">
                    <span class="counter">{{ counters['location'] }}</span> Locations</a></p>
            </div>
        </div>
    </section>

    <!-- Information -->
    <section>
    <h2>Information</h2>
    <p class="info-line">Secondary information that require constant monitoring</p>
    <div class="row dashboard-block" id="message-balance">
        <p>Current Transactional SMS Balance:
        {% if message_balance >= 1000 %}
            <span class="counter safe">{{ message_balance }}</span>
        {% elif (message_balance >= 500) and (message_balance < 1000) %}
            <span class="counter warning">{{ message_balance }}</span>
        {% else %}
            <span class="counter danger">{{ message_balance }}</span>
        {% endif %}
        </p>
    </div>
    </section>

    <!-- Latest Programs -->
    <section>
        <h2>The Mango Updates</h2>
        <p class="info-line">Most recent course updates at themango.co site</p>
        <div class="row recent-updates">
            <div class="four columns" id="admin-block">
                <h3>Discover</h3>
                <ul id="recent-updates">
                    {% if themango_posts %}
                        {% for n in range(3) %}
                            <li><a href="{{ themango_posts['Discover'][n]['link'] }}">{{ themango_posts['Discover'][n]['title']['rendered'] }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>API Error</li>
                    {% endif %}
                </ul>
            </div>
            <div class="four columns" id="admin-block">
                <h3>Explore</h3>
                <ul id="recent-updates">
                    {% if themango_posts %}
                        {% for n in range(3) %}
                            <li><a href="{{ themango_posts['Explore'][n]['link'] }}">{{ themango_posts['Explore'][n]['title']['rendered'] }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>API Error</li>
                    {% endif %}
                </ul>
            </div>
            <div class="four columns" id="admin-block">
                <h3>Connect</h3>
                <ul id="recent-updates">
                    {% if themango_posts %}
                        {% for n in range(3) %}
                            <li><a href="{{ themango_posts['Connect'][n]['link'] }}">{{ themango_posts['Connect'][n]['title']['rendered'] }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>API Error</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>

    <!-- Other Fun Stuff -->
    <section>
    <h2>Fun</h2>
    <p class="info-line">The best stuff from the internet. You know, just to keep you entertained.</p>
        <div class="row comic">
            <div class="six columns" id="admin-block">
                {% if xkcd %}
                    <h3>{{ xkcd['title'] }}</h3>
                    <img src="{{ xkcd['img'] }}" title="{{ xkcd['alt'] }}">
                {% else %}
                    <p>API error</p>
                {% endif %}
            </div>
            <div class="six columns" id="admin-block">
                {% if quote %}
                    <h3>{{ quote[0]['title'] }}</h3>
                    <blockquote>{{ quote[0]['content']|striptags }}</blockquote>
                {% else %}
                    <p>API error</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
