{% extends "base.html" %}

{% block title %}Events Index for {{ course_title }} {% endblock %}

{% block header %}
    <span class="title-header">{{ course_title }} Events</span><span class="subtitle-header">All events so far</span>
    {% include 'datatable-resources.html' %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#course-events-all').DataTable( {
            dom: 'Bfrtip',
            order: [[1, 'desc']],
            buttons: [
                'copyHtml5',
                'excelHtml5',
            ]
        } );
    } );
    </script>
    <table id="course-events-all" class="display" cellspacing="0" width="100%">
    <thead>  
    <tr>
        <th>Location</th>
        <th>Date</th>
        <th>View Registrations</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% if events %}
        {% for event in events %}
            <tr>
                <td>{{ event[2] }}</td>
                {% if event[3] == None %}
                    <td><a href="{{ url_for('event_index.edit_event', event_id=event[0]) }}">Add Date</a></td>
                {% else %}    
                    <td>{{ event[3]|datetimeformat('%B %d, %Y - %A') }}</td>
                {% endif %}
                <td><a href="{{ url_for('registration_index.registrations_single_event', course_uid=course_uid, event_id=event[0], course_name=course_title) }}">View Registrations</a></td>
                <td><a href="{{ url_for('event_index.edit_event', event_id=event[0]) }}">Edit</a></td>
                <td><a href="{{ url_for('event_index.confirm_delete_event', event_id=event[0]) }}">Delete</a></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
    <form action="{{ url_for('event_index.events', course_id=course_id) }}" method="POST">
        <input required type="date" name="date" id="date" value="">
        <select name="location" id="location">
            {% for location in locations %}
                <option value="{{ location[0] }}">{{ location[1] }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="button-primary" name="submit" value="Add Event">
    </form>
{% endblock %}
