{% extends "base.html" %}

{% block title %}Edit Course Event{% endblock %}

{% block header %}
    <span class="title-header">Edit Event</span><span class="subtitle-header">Editing events will affect past registrations</span>
{% endblock %}

{% block content %}
    <form action="{{ url_for('event_index.edit_event', event_id=event[0]) }}" method="POST">
    <table id="edit-course-events" class="display" cellspacing="0" width="100%">
    <thead>  
    <tr>
        <th>Course Title</th>
        <th>Location</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="text" name="course_title" readonly id="course_title" value="{{ event[2] }}"></td>
        <td><select name="location" id="location" style="height: auto;">
            {% for location in locations %}
                {% if event[3] == location[1] %}
                    <option selected value="{{ location[0] }}">{{ location[1] }}</option>
                {% else %}
                    <option value="{{ location[0] }}">{{ location[1] }}</option>
                {% endif %}
            {% endfor %}
        </select></td>
        <td><input type="date" name="date" id="date" value="{{ event[4] }}"></td>
        <td><input type="submit" name="submit" class="button-primary" value="Submit">
    </tr>
    </tbody>
    </table>
    <input type="hidden" name="course_id" id="course_id" value="{{ event[1] }}">
    </form>
{% endblock %}
