{% extends "base.html" %}

{% block title %}Confirm Delete Event{% endblock %}

{% block header %}
    <span class="title-header">Delete Event</span><span class="subtitle-header">This action cannot be undone</span>
{% endblock %}

{% block content %}
    	<form action="{{ url_for('event_index.delete_event', event_id=event_id) }}" method="POST" class="centered">
    	<input type="hidden" name="course_id" id="course_id" value="{{ course_id }}">
        <input type="submit" name="submit" class="button-primary" value="Delete">
    	</form>
{% endblock %}
