{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header %}
    <span class="title-header centered center">Mango Registrations</span><span class="subtitle-header centered center">Login to continue</span>
{% endblock %}

{% block content %}
    <div class="centered">
        {% if error %}
            <p><strong>Error:</strong> {{ error }}</p>
        {% endif %}

        <form id="login" action="{{ url_for('admin_access.login') }}" method="POST" name="login">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="login" class="button-primary block">
        </form>
    </div>
{% endblock %}
