{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
    <span class="title-header centered center">Online Payment</span><span class="subtitle-header centered center">Click 'pay now' to complete the registration</span>
{% endblock %}

{% block content %}
    <div class="mango-payments centered center">
        <p>You are about make a transaction of <strong>{{ payment/100 }} INR</strong>.</p>
        <form action="{{ url_for('payment.charge') }}" method="POST">
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="{{ rz_key }}"
                data-amount="{{ payment }}"
                data-name="Mango Education"
                data-description="Payment of fee towards Mango Education Course"
                data-image="{{ url_for('static', filename='media/mango-logo.png') }}"
                data-netbanking="true"
                data-prefill.name="{{ parent_name }}"
                data-prefill.email="{{ parent_email }}"
                data-prefill.contact="{{ parent_contact }}"
                data-theme.color="#0092ff">
            </script>
            <input type="hidden" name="parent_uid" value="{{ parent_uid }}">
            <input type="hidden" name="course_uid" value="{{ course_uid }}">
            <input type="hidden" name="payment" value="{{ payment }}">
        </form>
    </div>
<style>
input.razorpay-payment-button {
    background: #0092ff;
    color: #fff;
}
input.razorpay-payment-button:hover, input.razorpay-payment-button:focus {
    color: #fff;
    border-color: #0092ff;
}
</style>
{% endblock %}
