<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://themango.us14.list-manage.com/subscribe/post?u=5726daf090ac6bb7ea08d08d5&amp;id=086860e20d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <h3>Subscribe to get notified about future sessions</h3>
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  
</label>
    <input required type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
    <label for="mce-FNAME">Name  
</label>
    <input required type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group size1of2">
    <label for="mce-PHONE">Phone Number  
</label>
    <input required type="text" name="PHONE" class="required" value="" id="mce-PHONE">
</div>
<div class="mc-field-group">
    <label for="mce-KID_NAME">Kid Name  
</label>
    <input required type="text" value="" name="KID_NAME" class="required" id="mce-KID_NAME">
</div>
<div class="mc-field-group">
    <label for="mce-KID_INT">Kid Interests  
</label>
    <input required type="text" value="" name="KID_INT" class="required" id="mce-KID_INT">
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5726daf090ac6bb7ea08d08d5_086860e20d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->