{% extends "base.html" %}

{% block title %}Mango Pay Integrtions{% endblock %}

{% block header %}
    <span class="title-header">OAuth</span><span class="subtitle-header">Authentications</span>
{% endblock %}
{% block content %}
    <section id="zoho">
        <h2>Zoho Books Authentication</h2>
        {% if refresh_token %}
            <p><a class="button-disabled" href="#">Authenticated</a></p>
        {% else %}
            <p><a class="button-primary" href="{{ zoho_url }}">Authenticate</a></p>
        {% endif %}
        <h2>Response</h2>
        <p>Access: {{ access_token }}</p>
        <p>Refresh: {{ refresh_token }}</p>
        <p>Auth: {{ auth_token }}</p>
    </section>
{% endblock %}
