{% extends "base.html" %}

{% block title %}{{ course_name }} Registration Link{% endblock %}

{% block header %}
	<span class="title-header centered center">Registration Link</span><span class="subtitle-header centered center">{{ course_name }}</span>
{% endblock %}

{% block content %}
<div class="centered center">
	<label for="just-the-link">HTML link</label>
   <textarea style="font-family: monospace;" onclick="this.focus();this.select()" readonly="readonly" rows="6" cols="100" name="registration-link" id="registration-link">{{ registration_link }}</textarea>
   <label for="just-the-link">Just the link</label>
   <textarea style="font-family: monospace;" onclick="this.focus();this.select()" readonly="readonly" rows="6" cols="100" name="just-the-link" id="just-the-link">{{ just_the_registration_link }}</textarea>
</div>
{% endblock %}
