{% extends "base.html" %}

{% block title %}{{ course_name }} Registrations{% endblock %}

{% block header %}
    <span class="title-header">{{ course_name }} Registrations</span><span class="subtitle-header">All registrations so far</span>
    {% include 'datatable-resources.html' %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#registrations').DataTable( {
            dom: 'Bfrtip',
            order: [[0, 'desc']],
            buttons: [
                'copyHtml5',
                'excelHtml5',
            ]
        } );
    } );
    </script>
    <table id="registrations" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Kid Name</th>
        <th>Location</th>
        <th>Selected Payment Mode</th>
        <th>Online Payment Status</th>
        <th>Payment ID</th>
    </tr>
    </thead>
    <tbody>
    {% for parent in parents %}
    <tr>
        {% if 'Today' in parent[10]|timestampformat('%B %d, %Y %A \n %I:%M %p') %}
            <td><span class="timestamp today">{{ parent[10]|timestampformat('%B %d, %Y, %A, %I:%M %p') }}</span></td>
        {% else %}
            <td><span class="timestamp">{{ parent[10]|timestampformat('%B %d, %Y, %A, %I:%M %p') }}</span></td>
        {% endif %}
        <td>{{ parent[2] }}</td>
        <td>{{ parent[3] }}</td>
        <td>{{ parent[4] }}</td>
        <td>{{ parent[5] }}</td>
        <td>{{ parent[13] }}</td>
        <td>{{ parent[7] }}</td>
        <td>{{ parent[8] }}</td>
        <td>{{ parent[9] }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
