{% extends "base.html" %}

{% set active_page = "registrations" %}

{% block title %}All Registrations{% endblock %}

{% block header %}
    <span class="title-header">Registration Index</span><span class="subtitle-header">All registrations so far. Registrations of deleted events are not shown.</span>
    {% include 'datatable-resources.html' %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#registrations-all').DataTable( {
            dom: 'Bfrtip',
            order: [[0, 'desc']],
            buttons: [
                'copyHtml5',
                'excelHtml5',
            ]
        } );
    } );
    </script>
    <table id="registrations-all" class="display" cellspacing="0" width="100%">
    <thead>  
    <tr>
        <th>Timestamp</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Kid Name</th>
        <th>Course</th>
        <th>Event</th>
        <th>Selected Payment Mode</th>
        <th>Online Payment Status</th>
        <th>Payment ID</th>
    </tr>
    </thead>
    <tbody>
    {% for parent in parents %}
    <tr>
        {% if 'Today' in parent[10]|timestampformat('%B %d, %Y %A \n %I:%M %p') %}
            <td><span class="timestamp today">{{ parent[10]|timestampformat('%B %d, %Y, %A, %I:%M %p') }}</span></td>
        {% else %}
            <td><span class="timestamp">{{ parent[10]|timestampformat('%B %d, %Y, %A, %I:%M %p') }}</span></td>
        {% endif %}
        <td>{{ parent[2] }}</td>
        <td>{{ parent[3] }}</td>
        <td>{{ parent[4] }}</td>
        <td>{{ parent[5] }}</td>
        <td>{{ parent[12] }}</td>
        <td><span class="location">{{ parent[13] }}</span></br><span class="timestamp">{{parent[14]|datetimeformat('%B %d, %Y\n %A')}}</span></td>
        <td>{{ parent[7] }}</td>
        <td>{{ parent[8] }}</td>
        <td>{{ parent[9] }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
